


            <!-- ====================================================
            ================= CONTENT ===============================
            ===================================================== -->
            <section id="content">

                <div class="page page-ui-tiles" style="background-image: url(assets/images/map_blue.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;">
                    






   <input type="hidden" id="hlive" value="0"> 
<input type="hidden"  id="hstake" value="0"> 
<input type="hidden"  id="hemail" value="godwinide@gmail.com"> 
<input type="hidden"  id="hstart" value="0"> 
<input type="hidden"  id="hchance" value="2"> 
<input type="hidden"  id="hbalance" value="90"> 
<input type="hidden"  id="htarget" value="0"> 
<input type="hidden"  id="hsignals" value="90"> 
<input type="hidden"  id="hmainte" value="99"> 
<input type="hidden"  id="hwallet" value="3LEjG2YhFcagNBtUxokRSHnEADCyxXQKAj"> 
<input type="hidden"  id="hpassword" value="john123"> 
<input type="hidden"  id="hswith" value="0"> 
<input type="hidden"  id="hcomm" value=""> 
<input type="hidden"  id="hcommpercent" value=""> 

<div class="row">
                           

    <!-- col -->
    <div  class="card-container col-lg-2 col-sm-4 col-xs-6 ">
    <div class="card">
    <div class="front bg-slategray" style="border-bottom: 2px solid #f07000 !important;">
    
    <!-- row   xbal -->
    <!-- row   xbal -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-3">
            <i class="glyphicon glyphicon-usd fa-2x "></i>
        </div>
        <!-- /col -->
        <!-- col -->
        <div class="col-xs-6">
            <p id="" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.deposit) %></p>
           
            <span>Deposits</span>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    
    </div>
    <div class="back bg-slategray-inverse">
    
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-5">
            <a href="/deposit"><i class="icon-credit-card fa-2x"></i> Deposit</a>
        </div>
        <!-- /col -->
        <!-- col -->
        <div class="col-xs-5">
            <a href="/withdraw"><i class="fa fa-suitcase fa-2x"></i> Withdraw</a>
        </div>
        <!-- /col -->
    
    </div>
    <!-- /row -->
    
    </div>
    </div>
    </div>
    <!-- /col -->
    <!-- col -->
    <div class="card-container col-lg-2 col-sm-4 col-xs-6">
    <div class="card">
    <div class="front bg-slategray" style=" border-bottom: 2px solid rgba(210, 229, 240, 0.79);">
    
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-3">
         <i class="fas fa-piggy-bank fa-2x" style="color: green;"></i>
        </div>
        <!-- /col -->
        <!-- col -->
        <div class="col-xs-8">
            <p id="" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.earnings) %></p>
            <span>Earnings</span>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    
    </div>
    <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid green;">
    
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-5">
            <a><i class="fas fa-piggy-bank fa-2x"></i></a>
        </div>
        <!-- /col -->
        <!-- col -->
        <div class="col-xs-6">
            <a> <p id="" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.earnings) %></p>
            <span>Earnings</span></a>
        </div>
        <!-- /col -->
       
    </div>
    <!-- /row -->
    
    </div>
    </div>
    </div>
    <!-- /col -->
    
    <!-- col -->
    <div class="card-container col-lg-2 col-sm-4 col-xs-6">
    <div class="card">
    <div class="front bg-slategray" style="border-bottom: 2px solid rgba(210, 229, 240, 0.79);">
    
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-3">
         <i class="fas fa-donate fa-2x" style="color: green;"></i>
        </div>
        <!-- /col -->
        <!-- col -->
        <div class="col-xs-8">
            <p id="balance" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.balance) %></p>
            <span>Balance</span>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
    
    </div>
    <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid green;">
    
     <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-4">
            <a><i class="fas fa-check-circle fa-2x"></i></a>
        </div>
        <!-- /col -->
        <!-- col -->
        <div class="col-xs-6">
            <a> <p id="balance" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.balance) %></p>
            <span>Balance</span></a>
        </div>
        <!-- /col -->
       
    </div>
    <!-- /row -->
    </div>
    </div>
    </div>
    <!-- /col -->                         <!-- col -->
                <div class="card-container col-lg-2 col-sm-4 col-xs-6">
                    <div class="card">
                        <div class="front bg-slategray" style="border-bottom: 2px solid rgba(210, 229, 240, 0.79);">
    
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-3 ">
                                 <i class="fas fa-donate fa-2x" style="color: red;"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p id="" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.withdrawn) %></p>
                                    <span>Withdrawn</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
    
                        </div>
                        <div class="back bg-slategray-inverse-other">
    
                                  <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a><i class="fas fa-donate fa-2x"></i></a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-6">
                                    <a> <p id="" class="text-lg text-strong mb-0 xeffect"><%= comma(req.user.withdrawn) %></p>
                                    <span>withdrawn</span></a>
                                </div>
                                <!-- /col -->
                               
                            </div>
                            <!-- /row -->
    
                        </div>
                    </div>
                </div>
                <!-- /col -->
    
                 <!-- col -->
                <div class="card-container col-lg-2 col-sm-4 col-xs-6">
                    <div class="card">
                        <div class="front bg-slategray" style="border-bottom: 2px solid rgba(210, 229, 240, 0.79);">
    
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                 <i class="fas fa-check-circle fa-3x" style="color: green;"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p id="won" class="text-lg text-strong mb-0 xeffect"><%= req.user.accountType %></p>
                                    <span>Plan</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
    
                        </div>
                        <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid green;">
    
                             <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-6">
                                    <a><i class="fas fa-check-circle fa-3x"></i></a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-6">
                                    <a>   <p id="won" class="text-lg text-strong mb-0 xeffect"><%= req.user.accountType %></p>
                                    <span>Plan</span></a>
                                </div>
                                <!-- /col -->
                               
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                </div>
                <!-- /col -->
    
                <!-- col -->
                <div class="card-container col-lg-2 col-sm-4 col-xs-6">
                    <div class="card">
                        <div class="front bg-slategray" style="        border-bottom: 2px solid rgba(210, 229, 240, 0.79);">
    
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-3">
                                 <i class="fas fa-check-circle fa-2x"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p id="loss" class="text-lg text-strong mb-0 xeffect">Activated</p>
                                    <span>Status</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->
    
                        </div>
                        <div class="back bg-slategray-inverse-other" style="border-bottom: 2px solid red;">
    
                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-3">
                                    <a><i class="fas fa-check-circle fa-2x"></i></a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-6">
                                    <a> <p id="loss" class="text-lg text-strong mb-0 xeffect">Activated</p>
                                    <span>Status</span></a>
                                </div>
                                <!-- /col -->
                               
                            </div>
                            <!-- /row -->
    
                        </div>
                    </div>
                </div>
                <!-- /col -->
    
            </div>
                    <!-- /row -->                        <!-- /col -->

                         <!-- col -->
                        <div class="row">




                        <!-- col -->
                        <div class="col-md-4">
                            <!-- tile -->
                            <section class="tile bg-slategray">

                    
 <!-- tile header -->
                                <div class="tile-header dvd dvd-btm">
                                    <h1 class="custom-font"><strong>Deposit</strong></h1>
                                    
                                </div>
                                <!-- /tile header -->

                                <!-- tile body -->
                                <div class="tile-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group row">
                                     
                                            <div class="col-md-6 col-sm-3">
                                            <label class="checkbox checkbox-custom-alt checkbox-custom-md">
                                                    <input name="customRadioAlt" type="radio" id="btco"><i></i> BitCoin
                                                </label>
                                                </div> 
                                                         <div class="col-md-6 col-sm-3">
                                                <label class="checkbox checkbox-custom-alt checkbox-custom-md">
                                                    <input name="customRadioAlt" type="radio" id="credit"><i></i> Bank Transfer
                                                </label>
                                                </div>
                                                         <div class="col-md-6 col-sm-3">
                                               <label class="checkbox checkbox-custom-alt checkbox-custom-md">
                                                    <input name="customRadioAlt" type="radio" id="gram"><i></i> Skrill
                                                </label>
                                                </div>
                                                       <!--  <div class="col-md-6 col-sm-3">
                                                <label class="checkbox checkbox-custom-alt checkbox-custom-md">
                                                    <input name="customRadioAlt" type="radio" id="west"><i></i> Western Union
                                                </label>
                                                </div>-->
                                                       
                                        </div>


                                    </form>
                                </div>
                                <!-- /tile body -->


                            </section>
                            <!-- /tile -->







                        </div>
                        <!-- /col -->
                         <!-- col -->
                        <div class="col-md-4">

                            <!-- tile -->
                            <section class="tile tile-simple bg-slategray">

                          
              
                                <!-- tile widget -->
                                <div class="tile-widget">


                                     <div class="row" id="tbtc" style="display: none;">
                                        <!-- col -->
                                        <div class="col-md-12 col-sm-6">
                                            <div class="media mb-20">
                                                <div class="pull-left thumb">
                                                    <img class="media-object img-circle" src="/assets/images/bt.gif" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-0"> <strong>BITCOIN (BTC)</strong></h4>
                                                    <small class="text-info text-capitalize">You've selected payment via Bitcoin (Btc), kindly enter amount in USD to fund your trade</small>
                                                </div>
                                            </div>
                        
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-md-12 col-sm-6">
                                        
                                            <div class="col-md-8 col-sm-12">
                                        <div class="form-group">
                                     
                                                <input class="papoint form-control mb-10" id="papoint" type="number" placeholder="Enter Amount here">
                                                <small id="myrate" class="myrate text-white">0 BTC   @ 1 BTC = 43444.92 USD</small>
                                        </div>  
                                        </div>
                                        <div id="btndep" class="btndep col-md-4 col-sm-12" style="display: none;">
                                         <button id="ppay" class="btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10" data-toggle="modal" data-target="#splash" style="float: right;" data-options="splash-2 splash-slategray splash-ef-2">Deposit<i class="fa fa-arrow-right"></i></button>
                                         <div id="verizon">
                                         <a id="tools" style="float: right;display:none;" data-toggle="modal" data-target="#splash" data-options="splash-2 splash-slategray splash-ef-2">Deposit</a>
                                     </div>

                                         </div>
                                   
                                     
                                        </div>

                                        <!-- /col -->
                                    </div>
     <div id="messag"></div>




                                    <div class="row" style="display: none;" id="credito">
                                        <!-- col -->
                                        <div class="col-md-12 col-sm-6">
                                            <div class="media mb-20">
                                                <div class="pull-left thumb">
                                                    <img class="media-object img" src="/assets/images/bank.png" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-0"> <strong>BANK WIRE</strong></h4>
                                                    <small class="text-info text-capitalize">You've selected payment using bank wire, kindly enter amount in USD to make deposit</small>
                                                </div>
                                            </div>
                        
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                        <div class="col-md-12 col-sm-6">
                                        
                                            <div class="col-md-8 col-sm-12">
                                        <div class="form-group">
                                     
                                                <input id="banktext" class="papoint form-control mb-10" type="number" placeholder="Enter Amount here">
                                              
                                        </div>  
                                        </div>
                                        <div id="btnbank" class="col-md-4 col-sm-12" style="display: none;">
                                         <button class="btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10" style="float: right;" data-toggle="modal" data-target="#splash2" data-options="splash-2 splash-slategray splash-ef-2">Deposit<i class="fa fa-arrow-right"></i></button>
                                         </div>
                                     
                                     
                                        </div>
                                        <!-- /col -->
                                    </div>





                                         <div class="row" style="display: block;" id="gramm">
                                        <!-- col -->
                                        <div class="col-md-12 col-sm-6">
                                            <div class="media mb-20">
                                                <div class="pull-left thumb">
                                                    <img class="media-object img" src="/assets/images/skrill.png" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-0"> <strong>SKRILL</strong></h4>
                                                    <small class="text-info text-capitalize">You've selected Skrill payment method, kindly enter amount in USD to make a request</small>
                                                </div>
                                            </div>
                        
                                        </div>
                                        <!-- /col -->
                                        <!-- col -->
                                         <div class="col-md-12 col-sm-6">
                                        
                                            <div class="col-md-8 col-sm-12">
                                        <div class="form-group">
                                     
                                                <input class="papoint form-control mb-10" id="skrilltext" type="number" placeholder="Enter Amount here">
                                                
                                        </div>  
                                        </div>
                                        <div id="btnsk" class=" col-md-4 col-sm-12" style="display: none;">
                                         <button id="ppay" class="btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10" data-toggle="modal" data-target="#splashsk" style="float: right;" data-options="splash-2 splash-slategray splash-ef-2">Deposit<i class="fa fa-arrow-right"></i></button>
                                         <div id="verizon">
                                         <a id="tools" style="float: right;display:none;" data-toggle="modal" data-target="#splash3" data-options="splash-2 splash-slategray splash-ef-2">Deposit</a>
                                     </div>

                                         </div>
                                   
                                     
                                        </div>
                                        <!-- /col -->
                                    </div>








                                    <!--

                                    <div class="row" style="display: none" id="weste">
                                        -- col --
                                        <div class="col-md-12 col-sm-6">
                                            <div class="media mb-20">
                                                <div class="pull-left thumb">
                                                    <img class="media-object img-circle" src="/assets/images/03.jpg" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-0"> <strong>WESTERN UNION</strong></h4>
                                                    <small class="text-success">You've selected payment using Westerm Union, kindly enter amount in USD to make a request</small>
                                                </div>
                                            </div>
                        
                                        </div>
                                        -- /col --
                                        -- col --
                                        <div class="col-md-12 col-sm-6">
                                        
                                            <div class="col-md-8 col-sm-12">
                                         <div class="form-group">
                                     
                                                <input class="form-control mb-10" type="text" placeholder="Enter Amount here">
                                              
                                                </div>  
                                            </div>
                                         <div class="col-md-4 col-sm-12">
                                         <button class="btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10" style="float: right;" data-toggle="modal" data-target="#splash2" data-options="splash-2 splash-slategray splash-ef-2">Request<i class="fa fa-arrow-right"></i></button>
                                         </div>
                                     
                                
                                        </div>
                                        -- /col --
                                                         
 
                                    </div>
                                    -->


                
         


                                </div>
                                <!-- /tile widget -->



                            </section>
                            <!-- /tile -->


</div>
<div class="col-md-4">
       
      
       </div>
    
                              <!-- col -->
                        <div class="col-md-8">
                            
                            
                            
                            
                            
                            
                            

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>                            
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>

                                           
                    



                    </div>
    
                    
                    <!-- /row -->

</div>


                
            </section>

                                           
                                        

                                        </div>
                                        <!-- /col -->
                                    
                                    <!-- /row -->

                                
                                <!-- /tile widget -->


                            
                            <!-- /tile -->
                        
                        <!-- /col -->






                    

                    
                    <!-- /row -->


       




                
            

           






        

        <script>

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
 var today = new Date();
  var day = today.getDay();
   var flu = today.getDate();
  var n = today.getMonth();
  var daylist = ["SUN","MON","TUE","WED ","THUR","FRI","SAT"];
var monthlist = ["JAN","FEB","MAR","APRIL","MAY","JUNE","JULY","AUG","SEMPT","OCT","NOV","DEC"];
  var hour ="0"+ today.getHours();
  var minute ="0"+ today.getMinutes();
  var second ="0"+ today.getSeconds();
  var prepand = (hour >= 12)? " PM ":" AM ";
  hour = (hour >= 12)? hour - 12: hour;
  if (hour===0 && prepand===' PM ') 
  { 
  if (minute===0 && second===0)
  { 
  hour=12;
  prepand=' Noon';
  } 
  else
  { 
  hour=12;
  prepand=' PM';
  } 
  } 
  if (hour===0 && prepand===' AM ') 
  { 
  if (minute===0 && second===0)
  { 
  hour=12;
  prepand=' Midnight';
  } 
  else
  { 
  hour=12;
  prepand=' AM';
  } 
  } 

function dateOrdinal(day) {
    return day+(31==day||21==day||1==day?"st":22==day||2==day?"nd":23==day||3==day?"rd":"th")
};



 document.getElementById("flipper").innerHTML = daylist[day] +' '+ dateOrdinal(flu) +' '+ monthlist[n] +' '+ hour +':'+ minute.substr(-2) +':'+ second.substr(-2) + ' ('+prepand+')';
  }
, 1000);



</script>
        <!--/ Application Content -->
        <!--/ MODAL FOR DEPOSITS/ -->


<div class="modal splash fade" id="splash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div id="stronger" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header " style="background-color:#000">
                    <a id="closemo" class="btn close"> X</a>
                   
        
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-10">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="pull-left thumb">
                            <img width="" src="/assets/images/bt.gif">
                           </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="pull-left">
                            <img width="140px" src="../images/realforex.png ">
                           </div>
                            </div>
                            </div>
                        <div class="col-md-12 col-sm-10 col-xs-10">
 <p class="text-uppercase text-center mb-0">
    <strong class="text-success">John Doe</strong> <br>
    <small class=" text-light bg-slategray">godwinide@gmail.com</small>
</p></div>
                        </div>
                    </div>
                    <div class="modal-body" style="padding-bottom: 0px">
                    <p class=" h5 text-uppercase">Kindly copy the wallet address below  to make deposit</p>
                     
                        <p>SCAN QRCODE</p>
                        <div class="text-center" ></div>
                       

                             <form name="step1" role="form" action="" method="POST" class="mt-10">



                             <div class="form-group col-md-12">
                                                <label for="amount">BTC Address </label>
                                                   <div class="input-group">
                                                   
                                                    <input id="badd" type="text" class="form-control" value="bc1qsq20z3r808wmtdzwcm3mwntd225j7dwuyycfkw" readonly="">
                                                <span class="input-group-btn">
                                                    <button onclick="myFunction()" class="btn btn-success" type="button"><i class="fas fa-copy"></i></button>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="amount">Amount (USD) </label>
                                                   <div class="input-group">
                                                   
                                                    <input id="dusd" type="text" class="dusd  form-control" value="" >
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="button"><i class="fas fa-dollar-sign"></i></button>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="amount">Amount (BTC) </label>
                                                   <div class="input-group">
                                                   
                                                    <input id="dbtc" type="text" class="dbtc form-control" value="" readonly="">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="button"><i class="fab fa-btc"></i>

</button>
                                                </span>
                                                </div>
                                            </div>
                                            

                                        
                                       
                                    </form>
                    </div>
                    <div class="modal-footer" style="padding-top: 0px;">           
                        <div class=" text-center text-capitalize">
                        
                        Once your payment has been confirmed your trading account will be funded with the amount deposited<p></p> 
                        </div>           
                                      



                    <div class="text-center">
                     <a id="whats" href="/deposit" class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10"><i class="fas fa-wallet"></i> Proceed</a>
                    <!-- <button id="fl" class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10"><i class="fas fa-wallet"></i> Scan QR-code</button>-->
                   </div>
                    </div>


                    <div class="modal-footer" style="padding-top: 0px; display: none">           
                        <div class=" text-center text-success">
                                          
                                                     <p class=" h3">Payment Recieved</p> 
                                                
                                       
                        <h1 style="font-size: 110px; margin-top: 0px;"><i class="fas fa-check"></i> </h1></div>
                     <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10"><i class="fas fa-wallet"></i> Go Back <strong class="text-lightred" style="color: #353d4d">09<span class=" text-light text-default lt">s</span></strong> </button>
                    </div>





                    <div class="modal-footer" style="padding-top: 0px;display: none">           
                        <div class=" text-center text-warning">
                                          
                                                     <p class=" h3">Incomplete Payment Recieved</p> 
                                                     <p class="text-default"> You sent an amount not equal the full payment, kindy contact our support team for more info</p>
                                                
                                       
                        <h1 style="font-size: 110px; margin-top: 0px;"><i class="fas fa-exclamation-triangle"></i> </h1></div>
                     <button class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10"><i class="fas fa-wallet"></i> Go Back <strong class="text-lightred" style="color: #353d4d">09<span class=" text-light text-default lt">s</span></strong> </button>
                    </div>
                </div>
                
     


            </div>
        </div>





       

<div class="modal splash fade" id="splash2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#000">
                    <a class="btn close"> X</a>
                   
        
                   <div class="row">
                       <div class="col-md-12 col-sm-10 col-xs-10">
                       <div class="col-md-4 col-sm-4 col-xs-4">
                       <div class="pull-left thumb">
                           <img width="" src="/assets/images/bank.png">
                          </div>
                           </div>
                           <div class="col-md-8 col-sm-8 col-xs-8">
                       <div class="pull-left">
                           <img width="140px" src="../images/realforex.png ">
                          </div>
                           </div>
                           </div>
                       <div class="col-md-12 col-sm-10 col-xs-10">
<p class="text-uppercase text-center mb-0">
   <strong class="text-success">John Doe</strong> <br>
   <small class=" text-light bg-slategray">godwinide@gmail.com</small>
</p></div>
                       </div>
                   </div>
                    <div class="modal-body" style="padding-bottom: 0px">
                        <p class=" h4">PLEASE CONTACT SUPPORT VIA THE CHAT MEDIUM FOUND ON THE WEBSITE FOR BANK DETAILS</p>
                        

                             <form role="form" class="mt-10">

                             <div class="form-group col-md-12">
                   <label for="amount">Amount (USD) </label>
                      <div class="input-group">
                      
                       <input id="busd" type="text" class="dusd form-control" value="" readonly="">
                   <span class="input-group-btn">
                       <button class="btn btn-success" type="button"><i class="fas fa-dollar-sign"></i></button>
                   </span>
                   </div>
               </div>

<hr class="text-danger">
                                        <div class="row h4 modal-body">
                                         <p class="text-warning h4">  <br>
                                         BANK DETAILS ARE WITHHELD DUE TO SECURITY REASONS</p>
                                         <p class="text-capitalize">
                                          For more info; contact support@Blockforexmarket.com                                        </p>
                                      
                                        </div>
                                         
                                       
                            </form>
                    </div>
                   


                    <div class="modal-footer" style="padding-top: 0px;">           
                    <div class=" text-center text-capitalize">
                        
                        Once your payment has been confirmed your trading account will be funded with the amount deposited<p></p> 
                                                
                                       
                        <h1 style="font-size: 110px; margin-top: 0px;"><i class="fas fa-check"></i> </h1></div>
                     <a class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" href="/deposit"><i class="fas fa-wallet"></i> DONE</a>
                    </div>


                </div>
            </div>
        </div>









        
<div class="modal splash fade" id="splashsk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#000">
                    <a class="btn close"> X</a>
                   
        
                   <div class="row">
                       <div class="col-md-12 col-sm-10 col-xs-10">
                       <div class="col-md-4 col-sm-4 col-xs-4">
                       <div class="pull-left thumb">
                           <img width="" src="/assets/images/skrill.png">
                          </div>
                           </div>
                           <div class="col-md-8 col-sm-8 col-xs-8">
                       <div class="pull-left">
                           <img width="140px" src="../images/realforex.png">
                          </div>
                           </div>
                           </div>
                       <div class="col-md-12 col-sm-10 col-xs-10">
<p class="text-uppercase text-center mb-0">
   <strong class="text-success">John Doe</strong> <br>
   <small class=" text-light bg-slategray">godwinide@gmail.com</small>
</p></div>
                       </div>
                   </div>
                    <div class="modal-body" style="padding-bottom: 0px">
                        <p class=" h4">PLEASE CONTACT SUPPORT VIA THE CHAT MEDIUM FOUND ON THE WEBSITE FOR BANK DETAILS</p>
                        

                             <form role="form" class="mt-10">

                             <div class="form-group col-md-12">
                                                <label for="amount">SKRILL Address </label>
                                                   <div class="input-group">
                                                   
                                                    <input id="ndadd1" type="text" class="form-control" value="Contact our support " readonly="">
                                                <span class="input-group-btn">
                                                    <button onclick="myFunction2()" class="btn btn-success" type="button"><i class="fas fa-copy"></i></button>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="amount">Amount (USD) </label>
                                                   <div class="input-group">
                                                   
                                                    <input id="susd" type="text" class="dusd  form-control" value="" readonly="">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-success" type="button"><i class="fas fa-dollar-sign"></i></button>
                                                </span>
                                                </div>
                                            </div>

                                         
                                       
                            </form>
                    </div>
                   


                    <div class="modal-footer" style="padding-top: 0px;">           
                    <div class=" text-center text-capitalize">
                        
                        Once your payment has been confirmed your trading account will be funded with the amount deposited<p></p> 
                                                
                                       
                        <h1 style="font-size: 110px; margin-top: 0px;"><i class="fas fa-check"></i> </h1></div>
                     <a class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10" href="/deposit"><i class="fas fa-wallet"></i> DONE</a>
                    </div>


                </div>
            </div>
        </div>










































<!-- withdrawal modals  -->



       








<section>
    <div class="pageheader" style="bottom: 0;position: fixed;z-index: 23;right: 0;left: 0;margin-bottom: 0;">

                     
                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                               
                            <li class="dropdown messages">
                           <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                            <strong>Auto-Trade: </strong> <strong class="text-success">Active <i class="fas fa-check"></i></strong>                            </a>
                            <a href="/deposit" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <strong> </strong><strong class="text-orange">$</strong> 
                            </a>
                             <a role="button" tabindex="0" class="toggle-base-sidebar" style="float: right;">
                                <i class="fas fa-ellipsis-h"></i>
                                <span class="badge bg-warning unread">0</span>
                            </a>
                        </li>

                                
                             <li class="dropdown messages">

                                <a class="sidebar-collapse toggle-base-sidebar">
                            <span class="flag-icon flag-icon-us"></span>
                            </a>
                           <a href="/deposit#" class="dropdown-toggle text-uppercase toggle-base-sidebar" data-toggle="dropdown">
                           Current time:<strong id="flipper">MON 17th MAY 8:00:26 ( PM )</strong>
                            </a>

                            

                        </li>
                         
                    
                   
                            </ul>

                           

                        </div>

                    </div>

</section>

















<!-- ============================================
        ============== Vendor JavaScripts ===============
        ============================================= -->
       
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>

        <script src="/assets/js/vendor/jRespond/jRespond.min.js"></script>

        <script src="/assets/js/vendor/d3/d3.min.js"></script>
        <script src="/assets/js/vendor/d3/d3.layout.min.js"></script>

        <script src="/assets/js/vendor/rickshaw/rickshaw.min.js"></script>

        <script src="/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>

        <script src="/assets/js/vendor/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="/assets/js/vendor/animsition/js/jquery.animsition.min.js"></script>

        <script src="/assets/js/vendor/daterangepicker/moment.min.js"></script>
        <script src="/assets/js/vendor/daterangepicker/daterangepicker.js"></script>

        <script src="/assets/js/vendor/screenfull/screenfull.min.js"></script>
        <script src="/assets/js/vendor/touchspin/jquery.bootstrap-touchspin.min.js"></script>

        <script src="/assets/js/vendor/flot/jquery.flot.min.js"></script>
        <script src="/assets/js/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
        <script src="/assets/js/vendor/flot-spline/jquery.flot.spline.min.js"></script>

        <script src="/assets/js/vendor/easypiechart/jquery.easypiechart.min.js"></script>

        <script src="/assets/js/vendor/raphael/raphael-min.js"></script>
        <script src="/assets/js/vendor/morris/morris.min.js"></script>

        <script src="/assets/js/vendor/owl-carousel/owl.carousel.min.js"></script>

        <script src="/assets/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        

        <script src="/assets/js/vendor/chosen/chosen.jquery.min.js"></script>
                <script src="/assets/js/vendor/filestyle/bootstrap-filestyle.min.js"></script>

        <script src="/assets/js/vendor/summernote/summernote.min.js"></script>

        <script src="/assets/js/vendor/coolclock/coolclock.js"></script>
        <script src="/assets/js/vendor/coolclock/excanvas.js"></script>

      
              <script src="https://@cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
              <script src="https://@cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
              <script type="text/javascript" src="pay/qrcode.js"></script>
        <!--/ vendor javascripts -->
<script type="text/javascript">
        $(document).ready(function() {
            $("#project-progress").fancyTable({
                
                pagination: true,
                perPage:10,
                globalSearch:true,
                inputStyle: 'color:black',
                sortable: false,
                paginationClass: "btn btn-info"
            });     
        });
    </script>

<script type="text/javascript">
            $(document).ready(function(){
             var address="";
             var amount="";
             var datetime="";
             var currency="";
             var distance="";
             
                  //  
                
               //  document.getElementById("tools").click();
                 $("#g").click(function(){
                     alert(" Auto Copy Trading robot is currently activated on your account, please contact support@ICoptionTrade.com for manual trade action.")
                 });
                
                
          //   $('#splash').modal();

                    }); 
</script>





<script>

</script>





















        <!-- ============================================
        ============== Custom JavaScripts ===============
        ============================================= -->
        <script src="/assets/js/main.js"></script>
        <!--/ custom javascripts -->


       





        
        














<script>

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
 var today = new Date();
  var day = today.getDay();
   var flu = today.getDate();
  var n = today.getMonth();
  var daylist = ["SUN","MON","TUE","WED ","THUR","FRI","SAT"];
var monthlist = ["JAN","FEB","MAR","APRIL","MAY","JUNE","JULY","AUG","SEMPT","OCT","NOV","DEC"];
  var hour ="0"+ today.getHours();
  var minute ="0"+ today.getMinutes();
  var second ="0"+ today.getSeconds();
  var prepand = (hour >= 12)? " PM ":" AM ";
  hour = (hour >= 12)? hour - 12: hour;
  if (hour===0 && prepand===' PM ') 
  { 
  if (minute===0 && second===0)
  { 
  hour=12;
  prepand=' Noon';
  } 
  else
  { 
  hour=12;
  prepand=' PM';
  } 
  } 
  if (hour===0 && prepand===' AM ') 
  { 
  if (minute===0 && second===0)
  { 
  hour=12;
  prepand=' Midnight';
  } 
  else
  { 
  hour=12;
  prepand=' AM';
  } 
  } 

function dateOrdinal(day) {
    return day+(31==day||21==day||1==day?"st":22==day||2==day?"nd":23==day||3==day?"rd":"th")
};



 document.getElementById("flipper").innerHTML = daylist[day] +' '+ dateOrdinal(flu) +' '+ monthlist[n] +' '+ hour +':'+ minute.substr(-2) +':'+ second.substr(-2) + ' ('+prepand+')';
  }
, 1000);



</script>
      

<script src="/assets/js/hbfggsjbivrne0ywjjtevguwmwo7laog.js" async=""></script>    

<div class="offline-ui offline-ui-up"><div class="offline-ui-content"></div><a href="/deposit" class="offline-ui-retry"></a></div><div class="betternet-wrapper"></div></div></body></html>

