<!-- ====================================================
            ================= CONTENT ===============================
            ===================================================== -->
<section id="content">
  <div
    class="page page-ui-tiles"
    style="
      background-image: url(assets/images/map_blue.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    "
  >
    <input type="hidden" id="hlive" value="0" />
    <input type="hidden" id="hstake" value="0" />
    <input type="hidden" id="hemail" value="godwinide@gmail.com" />
    <input type="hidden" id="hstart" value="0" />
    <input type="hidden" id="hchance" value="2" />
    <input type="hidden" id="hbalance" value="90" />
    <input type="hidden" id="htarget" value="0" />
    <input type="hidden" id="hsignals" value="90" />
    <input type="hidden" id="hmainte" value="99" />
    <input
      type="hidden"
      id="hwallet"
      value="3LEjG2YhFcagNBtUxokRSHnEADCyxXQKAj"
    />
    <input type="hidden" id="hpassword" value="john123" />
    <input type="hidden" id="hswith" value="0" />
    <input type="hidden" id="hcomm" value="" />
    <input type="hidden" id="hcommpercent" value="" />

    <div class="row">
      <!-- col -->
      <div class="card-container col-lg-2 col-sm-4 col-xs-6">
        <div class="card">
          <div
            class="front bg-slategray"
            style="border-bottom: 2px solid #f07000 !important"
          >
            <!-- row   xbal -->
            <!-- row   xbal -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-3">
                <i class="glyphicon glyphicon-usd fa-2x"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-6">
                <p id="" class="text-lg text-strong mb-0 xeffect">
                  <%= comma(req.user.deposit) %>
                </p>

                <span>Deposits</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <div class="back bg-slategray-inverse">
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-5">
                <a href="/deposit"
                  ><i class="icon-credit-card fa-2x"></i> Deposit</a
                >
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-5">
                <a href="/withdraw"
                  ><i class="fa fa-suitcase fa-2x"></i> Withdraw</a
                >
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>
      <!-- /col -->
      <!-- col -->
      <div class="card-container col-lg-2 col-sm-4 col-xs-6">
        <div class="card">
          <div
            class="front bg-slategray"
            style="border-bottom: 2px solid rgba(210, 229, 240, 0.79)"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-3">
                <i class="fas fa-piggy-bank fa-2x" style="color: green"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p id="" class="text-lg text-strong mb-0 xeffect">
                  <%= comma(req.user.earnings) %>
                </p>
                <span>Earnings</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <div
            class="back bg-slategray-inverse-other"
            style="border-bottom: 2px solid green"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-5">
                <a><i class="fas fa-piggy-bank fa-2x"></i></a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-6">
                <a>
                  <p id="" class="text-lg text-strong mb-0 xeffect">
                    <%= comma(req.user.earnings) %>
                  </p>
                  <span>Earnings</span></a
                >
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-2 col-sm-4 col-xs-6">
        <div class="card">
          <div
            class="front bg-slategray"
            style="border-bottom: 2px solid rgba(210, 229, 240, 0.79)"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-3">
                <i class="fas fa-donate fa-2x" style="color: green"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p id="balance" class="text-lg text-strong mb-0 xeffect">
                  <%= req.user.balance %>
                </p>
                <span>Balance</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <div
            class="back bg-slategray-inverse-other"
            style="border-bottom: 2px solid green"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-4">
                <a><i class="fas fa-check-circle fa-2x"></i></a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-6">
                <a>
                  <p id="balance" class="text-lg text-strong mb-0 xeffect">
                    <%= comma(req.user.balance) %>
                  </p>
                  <span>Balance</span></a
                >
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>
      <!-- /col -->
      <!-- col -->
      <div class="card-container col-lg-2 col-sm-4 col-xs-6">
        <div class="card">
          <div
            class="front bg-slategray"
            style="border-bottom: 2px solid rgba(210, 229, 240, 0.79)"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-3">
                <i class="fas fa-donate fa-2x" style="color: red"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p id="" class="text-lg text-strong mb-0 xeffect">
                  <%= comma(req.user.withdrawn) %>
                </p>
                <span>Withdrawn</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <div class="back bg-slategray-inverse-other">
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-4">
                <a><i class="fas fa-donate fa-2x"></i></a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-6">
                <a>
                  <p id="" class="text-lg text-strong mb-0 xeffect">
                    <%= comma(req.user.withdrawn) %>
                  </p>
                  <span>withdrawn</span></a
                >
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-2 col-sm-4 col-xs-6">
        <div class="card">
          <div
            class="front bg-slategray"
            style="border-bottom: 2px solid rgba(210, 229, 240, 0.79)"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-4">
                <i class="fas fa-check-circle fa-3x" style="color: green"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p id="won" class="text-lg text-strong mb-0 xeffect">
                  <%= req.user.accountType %>
                </p>
                <span>Plan</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <div
            class="back bg-slategray-inverse-other"
            style="border-bottom: 2px solid green"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-6">
                <a><i class="fas fa-check-circle fa-3x"></i></a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-6">
                <a>
                  <p id="won" class="text-lg text-strong mb-0 xeffect">
                    <%= req.user.accountType %>
                  </p>
                  <span>Plan</span></a
                >
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-2 col-sm-4 col-xs-6">
        <div class="card">
          <div
            class="front bg-slategray"
            style="border-bottom: 2px solid rgba(210, 229, 240, 0.79)"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-3">
                <i class="fas fa-check-circle fa-2x"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p id="loss" class="text-lg text-strong mb-0 xeffect">
                  Activated
                </p>
                <span>Status</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
          <div
            class="back bg-slategray-inverse-other"
            style="border-bottom: 2px solid red"
          >
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-3">
                <a><i class="fas fa-check-circle fa-2x"></i></a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-6">
                <a>
                  <p id="loss" class="text-lg text-strong mb-0 xeffect">
                    Activated
                  </p>
                  <span>Status</span></a
                >
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->
          </div>
        </div>
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-4">
        <!-- tile -->
        <section class="tile bg-slategray">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Withdrawal</strong></h1>
            <p>
              <strong>Note: </strong> kindly contact support for alternate
              withdrawal method if the below withdrawal methods are not suitable
              for you or not accepted in your country <br />
              Minimum Amount: $500 <br />
              Maximum Amount: $5,00000000

              <br />Charges(fixed): $0

              <br />Charges(%): 5% <br />Duration: 24-48 hours
            </p>
          </div>

          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
            <form class="form-horizontal" role="form">
              <div class="form-group row">
                <div class="col-md-6 col-sm-3">
                  <label
                    class="checkbox checkbox-custom-alt checkbox-custom-md"
                  >
                    <input
                      name="customRadioAlt"
                      type="radio"
                      id="bankmodal"
                    /><i></i> Bank Transfer
                  </label>
                </div>

                <div class="col-md-6 col-sm-3">
                  <label
                    class="checkbox checkbox-custom-alt checkbox-custom-md"
                  >
                    <input
                      class=""
                      name="customRadioAlt"
                      type="radio"
                      id="btcmodal"
                    /><i></i> BitCoin
                  </label>
                </div>

                <div class="col-md-6 col-sm-3">
                  <label
                    class="checkbox checkbox-custom-alt checkbox-custom-md"
                  >
                    <input
                      name="customRadioAlt"
                      type="radio"
                      id="paypalmodal"
                    /><i></i> Paypal
                  </label>
                </div>
                <div class="col-md-6 col-sm-3">
                  <label
                    class="checkbox checkbox-custom-alt checkbox-custom-md"
                  >
                    <input
                      name="customRadioAlt"
                      type="radio"
                      id="skrillmodal"
                    /><i></i> Skrill
                  </label>
                </div>

                <div class="col-md-6 col-sm-3">
                  <div id="messag"></div>
                </div>
              </div>
            </form>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
      <!-- col -->
      <div class="col-md-4">
        <!-- tile -->
        <section class="tile tile-simple bg-slategray">
          <!-- tile widget -->
          <div class="tile-widget">
            <br />

            <div class="row" id="bankmod">
              <!-- col -->
              <div class="col-md-12 col-sm-6">
                <div class="media mb-20">
                  <div class="pull-left thumb">
                    <img
                      class="media-object img"
                      src="/assets/images/bank.png"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading mb-0">
                      <strong>BANK TRANSFER</strong>
                    </h4>
                    <%-include("./partials/messages")%>
                    <small class="text-success"
                      >You've selected payment using
                      <strong>Bank Transfer</strong>, kindly enter amount in USD
                      to make a withdrawal request</small
                    >
                  </div>
                </div>
              </div>
              <!-- /col -->
              <!-- col -->
              <form method="post" action="/withdraw">
                <input type="hidden" name="method" value="Bank" />
                <div class="col-md-12 col-sm-6">
                  <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                      <input
                        name="amount"
                        class="withtext form-control mb-10"
                        id="banktext"
                        type="number"
                        placeholder="Enter Amount here"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <button
                      class="withbtn btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10"
                      style="float: right; display: none"
                      data-toggle="modal"
                      data-target="#splash5"
                      data-options="splash-2 splash-slategray splash-ef-2"
                    >
                      Request<i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- /col -->
            </div>

            <div class="row" style="display: none" id="btcmod">
              <!-- col -->
              <div class="col-md-12 col-sm-6">
                <div class="media mb-20">
                  <div class="pull-left thumb">
                    <img
                      class="media-object img-circle"
                      src="assets/images/bt.gif"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading mb-0">
                      <strong>BITCOIN (BTC)</strong>
                    </h4>
                    <%-include("./partials/messages")%>
                    <small class="text-success text-capitalize"
                      >You've selected payment via<strong>
                        Bitcoin (Btc)</strong
                      >
                      , kindly enter amount in USD to make a withdrawal
                      request</small
                    >
                  </div>
                </div>
              </div>
              <!-- /col -->
              <!-- col -->
              <form method="post" action="/withdraw">
                <input type="hidden" name="method" value="Bitcoin" />
                <div class="col-md-12 col-sm-6">
                  <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                      <input
                        name="amount"
                        class="withtext form-control mb-10"
                        type="number"
                        id="mybtctext"
                        placeholder="Enter Amount here"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <button
                      class="withbtn btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10"
                      style="float: right; display: none"
                      data-toggle="modal"
                      data-target="#splashbtc"
                      data-options="splash-2 splash-slategray splash-ef-2"
                    >
                      Request<i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </form>

              <!-- /col -->
            </div>

            <div class="row" style="display: none" id="paypalmod">
              <!-- col -->
              <div class="col-md-12 col-sm-6">
                <div class="media mb-20">
                  <div class="pull-left thumb">
                    <img
                      class="media-object img"
                      src="assets/images/paypal.png"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading mb-0"><strong>PAYPAL</strong></h4>
                    <%-include("./partials/messages")%>
                    <small class="text-success text-capitalize"
                      >You've selected payment using <strong>Paypal</strong>,
                      kindly enter amount in USD to make a withdrawal
                      request</small
                    >
                  </div>
                </div>
              </div>
              <!-- /col -->
              <!-- col -->
              <form method="post" action="/withdraw">
                <input type="hidden" name="method" value="Paypal" />
                <div class="col-md-12 col-sm-6">
                  <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                      <input
                        name="amount"
                        class="withtext form-control mb-10"
                        type="number"
                        id="paypaltext"
                        placeholder="Enter Amount here"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <button
                      class="withbtn btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10"
                      style="float: right; display: none"
                      data-toggle="modal"
                      data-target="#splashpay"
                      data-options="splash-2 splash-slategray splash-ef-2"
                    >
                      Request<i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- /col -->
            </div>

            <div class="row" style="display: none" id="skrillmod">
              <!-- col -->
              <div class="col-md-12 col-sm-6">
                <div class="media mb-20">
                  <div class="pull-left thumb">
                    <img
                      class="media-object img"
                      src="assets/images/skrill.png"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading mb-0"><strong>SKRILL</strong></h4>
                    <small class="text-success text-capitalize"
                      >You've selected <strong>Skrill</strong> payment method,
                      kindly enter amount in USD to make withdrawal
                      request</small
                    >
                    <%-include("./partials/messages")%>
                  </div>
                </div>
              </div>
              <!-- /col -->
              <!-- col -->
              <form method="post" action="/withdraw">
                <input type="hidden" name="method" value="Skrill" />
                <div class="col-md-12 col-sm-6">
                  <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                      <input
                        name="amount"
                        class="withtext form-control mb-10"
                        id="skrilltext"
                        type="number"
                        placeholder="Enter Amount here"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <button
                      class="withbtn btn btn-success btn-ef btn-ef-3 btn-rounded-20 btn-ef-3c mb-10"
                      style="float: right; display: none"
                      data-toggle="modal"
                      data-target="#splashskrill"
                      data-options="splash-2 splash-slategray splash-ef-2"
                    >
                      Request<i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- /col -->
            </div>
            <div class="messag" id="messag"></div>
          </div>
          <!-- /tile widget -->
        </section>
        <!-- /tile -->
      </div>

      <!-- tile -->
      <div class="col-md-4"></div>

      <!-- col -->
      <div class="col-md-8">
        <!-- /tile -->
      </div>
    </div>

    <!-- /row -->
  </div>
</section>
